blanco = #FFFFFF
gris-oscuro = #333333
negro = #000000
btn-naranja = #e44d26 
btn-violeta = #6c05c4
btn-celeste = #03b4da
btn-verde = #00c380


body 
	color gris-oscuro
	font-family 'Open Sans', sans-serif
	font-size 16px
	font-weight 100

footer
	color blanco
	background-image url('../img/back-footer.jpg')
	background-repeat no-repeat
	background-position center
	background-size cover
	height 298px
	margin-bottom 0
	margin-top -1.5em
	p
		line-height 30px
		padding-top 5em
		padding-left 2.5em
h1
	font-size 1em
	padding-top 2em
	padding-left 2em
.Btn-contacto
	background-color red
	border-radius 10px
	-webkit-border-radius 10px
	-moz-border-radius 10px
	color blanco
	font-style italic
	font-weight bold
	padding 1em 0 1em 0
	text-align center
	width 60%
.Btn-celeste
	background-color btn-celeste
	&:hover
		background-color #3498db
.Btn-naranja
	background-color btn-naranja
	&:hover
		background-color #e67e22
.Btn-violeta
	background-color btn-violeta
	&:hover
		background-color #9b59b6
.Btn-verde
	background-color btn-verde
	&:hover
		background-color #2ecc71
.Contenedor-header
	background-image url('../img/img-central.jpg')
	background-color negro
	background-repeat no-repeat
	background-position center
	background-size cover
	color blanco
	height 577px
	margin-top -1.4em
	p
		font-size 2em;
		font-weight 100
		margin-top 200px
		text-align center
	.Email-contato
		background-color rgba(0,0,0,.8)
		height auto
		border-radius 10px
		-webkit-border-radius 10px
		-moz-border-radius 10px
		margin 0 auto
		text-align center
		width 31%
		h3
			font-size 1.2em
			font-weight 100
			padding .8em
.Columnas
	height auto
	margin 0 auto
	margin-bottom 10em
	width 70%
	.Col-1,.Col-2
		display inline-block
		vertical-align top
		width 45%
.Col-2
	float right	
	img 
		float right
.Columna-mkt
	margin-top -3em
.Copy
	font-size 1.8em
	text-align center

.Copy-2
	color #6f6c6c
	font-size 1.1em
	line-height 35px
	margin 0 auto
	text-align center
	width 80%

.Clear
	clear both
.Dedicatoria
	background-color negro
	font-size .8em
	padding .5em 1em .5em 0
	text-align right
.Destacados-principal
	height auto
	margin-bottom 8em
	text-align center
	width 100%
	h3
		font-size 1em
	ul li
		display inline-block
		padding 3em 4em 1em 4em
		vertical-align top
.Globos
	background-color red
	img
		float right
		margin 0 8em 3em 0
.Imagen-derecha
	float right
.Imagenes-Prefooter
	background-image url('../img/fotos-footer.jpg')
	background-repeat no-repeat
	background-position center
	background-size cover
	height 298px
.Mail-header
	color yellow
	font-size .9em
	font-style italic
a 
	color #03b4da
	text-decoration none
a:hover
	color yellow
.Prefooter
	color blanco
	background-image url('../img/back-nosotros.jpg')
	background-repeat no-repeat
	background-position center
	background-size cover
	height 298px
	margin-top -50px
	h2
		font-weight 100
		padding 2em 0 0 2.8em
	p
		font-size 1.2em
		line-height 30px
		margin 0 auto
		width 90%
.Prefooter-2
	color blanco
	background-image url('../img/back-agencia.jpg')
	background-repeat no-repeat
	background-position center
	background-size cover
	height 298px
	margin-top -1.4em
	h2
		font-weight 100
		padding 2em 0 0 2.8em
	p
		font-size 1.2em
		line-height 30px
		margin 0 auto
		width 90%
.Texto-izquierda
	text-align left
.Texto-marketing
	margin-top 150px
.Redes
	height auto
	margin-top 4em
	width 30%
	ul li
		display inline-block
		padding 0 1em 1em 0
.Resaltado
	font-style italic
	font-weight bold